/*
Theme Name: Shockbreaker
Theme URI: http://cecemgem.com
Description: Bootstrap 3 Masonry Theme
Version: 2.0
Author: Lusfikar Sheba
Author URI: http://cecemgem.com
License: GPL v2
*/

/* WordPress Tweaks - Comments*/
#commentform #comment {
	width:100% !important;
}

.fn, .says{
	/* comment name and 'says' text color */
	color:#e7e7e7;
}

ol.comment-list,
ol.comment-list ol{
	list-style-type:none;
	margin: 0;
}

.comment-body{
	/* comment list separator color */
	border-bottom: 1px solid #333333;
	padding-bottom: 20px;
	padding-top: 20px;
}

.comment-respond input, .comment-respond label, .comment-respond textarea{
    display:block;
}

/*
.comment-respond input, .comment-respond textarea{
	color: #252525;
}
*/

/* WordPress Tweaks - Widgets */
.widget{
	margin-bottom: 40px;
}
.widget ul,
.widget ol {

	list-style: none;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}

.widget ul > li,
.widget ol  > li{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #333333; /* widget content list bottom color */
}

.widget li > ol,
.widget li > ul {
	margin-left: 10px;
}

.widget_recent_entries ul li:before {
	font: normal normal normal 14px/1 FontAwesome;
    content: '\f15c';
	margin-right: 20px;
	color:#ffffff;/* font awesome icon color */
}

.widget_recent_comments ul li:before {
	font: normal normal normal 14px/1 FontAwesome;
    content: '\f0e5';
	margin-right: 20px;
	color:#ffffff;/* font awesome icon color */
}

.widget_categories ul li:before {
	font: normal normal normal 14px/1 FontAwesome;
    content: '\f115';
	margin-right: 20px;
	color:#ffffff;/* font awesome icon color */
}

/* WordPress Tweaks - Calendar */
/*
.table{
	border-color:#f00;
}
*/

table#wp-calendar td,table#wp-calendar th{
	/* calendar (table) row bottom color */
	border-bottom:1px solid #111010; 
}


table tr{
	/* calendar (tablel) bottom-most bottom border color. should same with above */
	border-bottom:1px solid #111010; 
}

.table-striped>tbody>tr:nth-of-type(odd) {
	/* .table (calendar) stripe color */
    background-color: #111010;
}

/* Bootstrap Tweaks 1*/
.img-thumbnail, .img-responsive{
	min-width:100%;
	min-height:100%;
}

/*
.container-fluid{
	
	max-width:98%;
	min-width:100%;
	
}
*/

.panel-default{
	border-color:#dddddd;
}

/* Bootstrap Tweaks - Button */
.btn-default, .label-default {
  background-color: #ffffff; /* button background color */
  border-color: #252525; /* button border color */
}
.btn-default:hover, .label-default[href]:hover, .label-default[href]:focus, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, #image-navigation .nav-previous a:hover, #image-navigation .nav-next a:hover {
  /* button color on hover. both should same */
  background-color: #DDDDDD;
  border-color: #DDDDDD;
}
.btn.btn-default {
    color: #252525; /* button text color */
}

/* Bootstrap Tweaks - Navbar */
.navbar-default {
    background-color: #252525; /* color of navbar background */
    border-color: #E7E7E7; /* color of navbar border */
}

/* Bootstrap Tweaks - title */
.navbar-default .navbar-brand {
	/* navbar brand (e.g. Home) color when idle */
    color: #777777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	/* navbar brand (e.g. Home) color when hovered or focused */
    color: #5E5E5E;
}

/* Bootstrap Tweaks - link */
.navbar-default .navbar-nav > li > a {
	/* menu link color when idle */
    color:#777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	/* when navbar item hovered or focused */
    color:#555555; 
	background-color:#111010;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	/* when navbar item active */
    color:#555555;
    background-color:#111010;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	/* when dropdown focused */
    color:#555555;
    background-color:#111010;
}

/* Bootstrap Tweaks - caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color:#777777; /* dropdown arrow color when idle */
    border-bottom-color:#777777; /* unknown, but make it equals with above */
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color:#333333; /* dropdown arrow color when hover or focus */
    border-bottom-color:#333333; /* unknown, but make it equals with above */
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
	/* arrow color when dropdown opened */
    border-top-color:#555555;
    border-bottom-color:#555555;
}

/* Bootstrap Tweaks - mobile version */
.navbar-default .navbar-toggle {
	/* menu toggle (something with striped icon on top right) border color in mobile view when idle - menu toggle border*/
    border-color: #DDDDDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	/* menu toggle (something with striped icon on top right) background color in mobile view when hover or focus - menu toggle highlight*/
    background-color: #DDDDDD;
}
.navbar-default .navbar-toggle .icon-bar {
	/* menu toggle (something with striped icon on top right) icon color in mobile view - menu toggle icon*/
    background-color: #cc2030;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
		/* link color of dropdown popup when in mobile view idle */
        color: #777777;
		background-color:#252525;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		/* link color of dropdown popup when in mobile view hover or focus */
        color: #555555;
		background-color:#111010;
    }
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		/* color of dropdown selected item when in mobile view */
		color: #555555;
		background-color: #111010;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}

/* Bootstrap Tweaks - Dropdown Menu */
.dropdown-menu {
	/* color of popup menu when menu item dropped down */
	background-color: #252525;
}
.dropdown-menu > li > a {
	/* dropdown item link color when idle */
	color: #777777;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	/* when dropdown item is hovered or focused */
	color: #555555;
	background-color: #111010;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	/* when dropdown item is selected */
	color: #555555;
	background-color: #111010;
}

/* Shockbreaker's */

body{
	/* whole body color */
	background-color:#111010;
	color:#e7e7e7;
}
/*
p, 
span{
	color:#e7e7e7;
}
*/

a:link{
	color:#337ab7;
}

a:hover{
	color:#23527c;
}

a:visited{
	color:#337ab7;
}

h1, h2, h3, h4, h5{
	/* headings color */
	color:#777777;
}

input[type="text"], textarea {
	color: #252525;
}

.sb-blog-title a{
	/* blog title text color */
	color:#e7e7e7;
	text-decoration:none;
}

.sb-blog-desc{
	/* Blog tagline (description) text color */
	color:#e7e7e7;
}

.sb-left-sidebar{
}

.sb-panel-main{
	/* main section (panel on middle) color */
	background-color:#252525;
}

.sb-panel-footer{
	/* main section (panel on middle) color */
	background-color:#252525;
}

.sb-separator-right {
	/* separator between sidebar and main post area color */
	/*border-right: 1px ridge rgba(255, 255, 255, 0.1);*/
	border-right: 1px solid #333333;
}

.sb-navi-left{
	text-align:left;
}

.sb-navi-right{
	text-align:right;
}

.sb-copyright{
	float:bottom;
	padding-bottom:0px;
	margin-bottom:0px;
}
.sb-post-standard{
	/* standard post type background color */
	background-color: #111010;
	padding: 20px 20px 1px 20px;
	border: 1px solid #dddddd;
	border-radius:4px;
}

/* Aside Styles */
.sb-post-aside,
.sb-post-link ,
.sb-post-nav-link{
	/* aside and link post type background color */
	font-size: 125%;
	background-color: #FFF5CB;
	padding: 20px 20px 1px 20px;
	border-bottom: none;
	border-radius: 4px;
}

/* Aside */
.sb-post-aside p{
	/* aside post text color */
	color:#cc2030;
}

/* Link Post Format Styles */
.sb-post-link {
	padding: 0;
}

.sb-post-link a {
	display: block;
	text-decoration: none;
	padding: 20px;
}

.sb-post-link-text {
	/* link post text color */
	line-height: 1.65em;
	color: #004982;
}

/* post nav */
.sb-post-nav-link {
	text-align:center;
}

.sb-post-nav-link {
	padding: 0;
}

.sb-post-nav-link a {
	display: inline;
	text-decoration: none;
	padding: 20px;
}

.sb-post-nav-link-text {
	/* link post text color */
	line-height: 1em;
	color: #004982;
}

/* Mini Meta */
.sb-mini-meta {
	/* author and date text color in mini meta (commonly at aside and link post) */
	font-size: 68%;
	margin: 0;
	color: #777777;
	display: block;
}

.sb-mini-meta a {
	/* author and date text color in mini meta link(commonly at aside and link post). should same with above */
	color: #777777;
	text-decoration: none;
}

/* Masonry */
.sb-masonry-container {
}

.sb-masonry-item {
	margin-bottom : 10px;
}

/* Etc */
.sb-thumbnail{
	display:block;
	min-width:100%;
	height:auto;
}

.row.sb-no-pad {
  margin-right:0;
  margin-left:0;
}
.row.sb-no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.row.sb-narrow-pad {
  margin-right:0;
  margin-left:0;
}
.row.sb-narrow-pad > [class*='col-'] {
  padding-right:5px;
  padding-left:5px;
}